body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
}

#selector,
#github-link {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}
#github-link {
  bottom: 4px;
  left: 4px;
}
#github-link a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  color: black;
}

#selector {
  top: 10px;
  left: 10px;
  max-width: 80%;
}

h1 {
  font-size: 24px;
  margin: 8px 0 8px 0;
}

.popup h2 {
  margin-bottom: 8px;
}
.popup p {
  margin: 4px 0 4px 0;
}
